<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <title>Era dos Piratas</title>
</head>

<body>
    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div class="logo">

                    <img src="/static/img/Logo.png" />
                </div>
                <div class="rede-sociais">
                    <ul>
                        <li><a href=""><img src="/static/img/Sla-6.png"></a></li>
                        <li><a href=""><img src="/static/img/Fc2.png"></a></li>
                        <li><a href="https://discord.gg/HPMUkSRZDQ"><img src="/static/img/discordpequeno.png"></a></li>
                        <li><a href=""><img src="/static/img/Logo-Likendi.png"></a></li>
                    </ul>
                </div>
            </div>
        </main>
    </header>
    <main class="col-100 menu-urls">
        <div class="header-2">
            <div class="menu">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/loja">Loja</a></li>
                    <li><a href="/contatos">Contato</a></li>
                    <li><a href="/sobre">Sobre</a></li>

                </ul>
            </div>
            <div class="busca">
                <input placeholder="Pesquisar" type="text">
            </div>

        </div>
    </main>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>


</body>

</html>