<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <title>Era dos Piratas</title>
</head>

<body>
    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div class="logo">

                    <img src="/static/img/Logo.png" />
                </div>
                <div class="rede-sociais">
                    <ul>
                        <li><a href=""><img src="/static/img/Sla-6.png"></a></li>
                        <li><a href=""><img src="/static/img/Fc2.png"></a></li>
                        <li><a href="https://discord.gg/HPMUkSRZDQ"><img src="/static/img/discordpequeno.png"></a></li>
                        <li><a href=""><img src="/static/img/Logo-Likendi.png"></a></li>
                    </ul>
                </div>
            </div>
        </main>
    </header>
    <main class="col-100 menu-urls">
        <div class="header-2">
            <div class="menu">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/loja">Loja</a></li>
                    <li><a href="/contatos">Contato</a></li>
                    <li><a href="/sobre">Sobre</a></li>

                </ul>
            </div>
            <div class="busca">
                <input placeholder="Pesquisar" type="text">
            </div>

        </div>
    </main>
    <div class="col-100">
        <div class="slider-principal">
            <img src="/static/img/slider2.png">
            <img src="/static/img/slider2.png">
            <img src="/static/img/slider2.png">
            <img src="/static/img/slider2.png">
        </div>
    </div>
    <div class="col-100">
        <div class="content texto-destaque">
            <h1><strong>NOVIDADES</strong></h1>
            <p>Chegou a hora de anunciar que o Colisão do Tempo está virando uma NETWORK de servidores e estará abrindo
                outros servidores além do próprio Colisão é claro, mais dúvidas acesse o nosso discord.</p>

            <div class="col-3 bloco-texto">
                <img src="/static/img/logopequeninha.png">
                <h3>Era dos Piratas...</h3>
                <h4>O que será Era dos Piratas? O Era dos Piratas será um servidor para Minecraft
                    <strong>MCPE/BEDROCK</strong> edition com o tema de <strong>ONE PIECE</strong>. Será um servidor
                    incrível que contém ilhas do anime, akuma no mi, história da tripulação e muito mais, caso tenha
                    alguma dúvida entre no nosso discord.
                </h4>
            </div>
            <div class="col-3 bloco-texto">
                <img src="/static/img/Discord Logo.png">
                <h3>teste</h3>
                <p>teste2</p>
            </div>
            <div class="col-3 bloco-texto">
                <img src="/static/img/Discord Logo.png">
                <h3>teste</h3>
                <p>teste2</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>


</body>

</html>