<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <title>Era dos Piratas</title>

</head>

<body>
    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div class="logo">

                    <img src="/static/img/Logo.png" />
                </div>
                <div class="rede-sociais">
                    <ul>
                        <li><a href=""><img src="/static/img/Sla-6.png"></a></li>
                        <li><a href=""><img src="/static/img/Fc2.png"></a></li>
                        <li><a href="https://discord.gg/HPMUkSRZDQ"><img src="/static/img/discordpequeno.png"></a></li>
                        <li><a href=""><img src="/static/img/Logo-Likendi.png"></a></li>
                    </ul>
                </div>
            </div>
        </main>
    </header>
    <main class="col-100 menu-urls">
        <div class="header-2">
            <div class="menu">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/loja">Loja</a></li>
                    <li><a href="/contatos">Contato</a></li>
                    <li><a href="/sobre">Sobre</a></li>

                </ul>
            </div>
            <div class="busca">
                <input placeholder="Pesquisar" type="text">
            </div>

        </div>
    </main>

    <div id="SwModalVIP-1" class="SwModal">
        <div class="SwModal-Container">
            <div class="SwModal-Container-title">
                Vantagens VIP BRONZE

                <div class="SwModal-close" modal="SwModalVIP-1">
                    X
                </div>

                <div class="SwLoja_title_Traco"></div>
            </div>

            <div class="SwModal-body">
                Acesso a escrita colorida e aos comandos /nick /hat /fly /back /kit Bronze e 3000 blocos de claim</p>
                <p>KIT BRONZE:
                    <p />
                <p>
                    12x Barras de ferro<br>
                    12x Barras de ouro<br>
                    10x Diamantes<br>
                    12x Barras de Manasteel<br>
                    4x Essencias de Zivicio<br>
                    2x Advanced Solar panel<br>
                    10x Charged Certuz Quartz<br>
                </p>
                <p>BRINDE BRONZE</p>
                <p>4x Awakened Ingot<br>
                    1x Angel ring de dragão<br>
                    1x Advanced Nano Chestplate<br>
                    1x Calça e 1 bota de QuantumSuit<br>
                    1x Hybrid Solar Helmet<br>
                    1x Advanced Diamond Drill <br>
                    1x Nano Saber<br>
                    4x Ultimate Solar Panel<br>
                    3x Singular Solar Panel<br>
                    2x Quantum Solar Panel<br>
                    2x Spectral Solar Panel<br>
                    6x Advanced Circuit<br>
                    8x Iridium Ingot<br>
                    1x ME Controller<br>
                    1x ME Drive<br>
                    1x Espada e Arco de Draconic<br>
                    5x Draconic Core<br>
                    4x Blocos de Manyullyn<br>
                    3x Blocos de Zivicio<br>
                    1x Mystic Branch<br>
                    1x Ovo de Triceratops<br>
                    1x Mammoth Embryo</p>
                <p>ITENS DESBLOQUEADOS:</p>
                <p>
                    Singular Solar Panel<br>
                    Spectral Solar Panel<br>
                    GraviChestPlate<br>
                    Super Builders Wand<br>
                    Broken Spawner<br>
                    Watering Can<br>
                    Powered Spawner<br>
                    Vajra<br></p>


            </div>
        </div>
    </div>

    <div id="SwModalVIP-2" class="SwModal">
        <div class="SwModal-Container">
            <div class="SwModal-Container-title">
                Vantagens VIP PRATA

                <div class="SwModal-close" modal="SwModalVIP-2">
                    X
                </div>

                <div class="SwLoja_title_Traco"></div>
            </div>

            <div class="SwModal-body">
                Acesso a escrita colorida e aos comandos /nick /hat /fly /back e /Kit Bronze /kit Prata e 3000 blocos de
                claim</p>
                <p>KIT BRONZE + KIT PRATA : </p>
                <p>ITENS NO KIT PRATA:<br>
                    24x Barras de ferro<br>
                    24x Barras de ouro<br>
                    16x Diamantes<br>
                    24x Barras de Manasteel<br>
                    5x Essencias de Zivicio<br>
                    2x Advanced Solar panel<br>
                    12x Charged Certuz Quartz<br>
                    1x Hybrid Solar Panel<br>
                    10x Barras de Uranio<br>
                </p>

                <p>BRINDE PRATA</p>
                <p>6x Awakened Ingot<br>
                    1x Angel ring de dragão<br>
                    1x GraviChestPlate<br>
                    1x Calça e 1 bota de QuantumSuit<br>
                    1x Hybrid Solar Helmet<br>
                    1x Advanced Diamond Drill <br>
                    1x Nano Saber<br>
                    5x Ultimate Solar Panel<br>
                    4x Singular Solar Panel<br>
                    2x Quantum Solar Panel<br>
                    3x Spectral Solar Panel<br>
                    2x Light-Absorbing Solar Panel<br>
                    8x Advanced Circuit<br>
                    10x Iridium Ingot<br>
                    1x ME Controller<br>
                    1x ME Drive<br>
                    1x Espada e Arco de Draconic<br>
                    5x Draconic Core<br>
                    5x Blocos de Manyullyn<br>
                    5x Blocos de Zivicio<br>
                    1x Mystic Branch<br>
                    1x Ovo de Triceratops<br>
                    1x Mammoth Embryo<br>
                </p>
                <p>ITENS DESBLOQUEADOS:</p>
                <p>
                    BRONZE + Ultimate Solar Helmet<br>
                    Ligh-Absorbing Solar Panel<br>
                    Draconic Staff of Power<br>

            </div>
        </div>
    </div>

    <div id="SwModalVIP-3" class="SwModal">
        <div class="SwModal-Container">
            <div class="SwModal-Container-title">
                Vantagens VIP OURO

                <div class="SwModal-close" modal="SwModalVIP-3">
                    X
                </div>

                <div class="SwLoja_title_Traco"></div>
            </div>

            <div class="SwModal-body">
                Acesso a criar a sua própria loja, escrita colorida e aos comandos /nick /hat /fly /back e /kit Bronze +
                /kit Prata + /kit Ouro e 3000 blocos de claim</p <p>KIT BRONZE + KIT PRATA + KIT OURO:<br>

                <p>ITENS DO KIT OURO:<br>
                    32x Barras de ferro<br>
                    32x Barras de ouro<br>
                    20x Diamantes<br>
                    32x Barras de Manasteel<br>
                    8x Essencias de Zivicio<br>
                    3x Advanced Solar panel<br>
                    16x Charged Certuz Quartz<br>
                    2x Hybrid Solar Panel<br>
                    12x Barras de Uranio<br>
                    6x Irradiant Uranium<br>
                </p>
                <p>BRINDE OURO</p>
                <p>
                    12x Awakened Ingot<br>
                    1x Chaos Shard<br>
                    1x Angel ring de dragão<br>
                    1x GraviChestPlate<br>
                    1x Calça e 1 bota de QuantumSuit<br>
                    1x Hybrid Solar Helmet<br>
                    1x Advanced Diamond Drill <br>
                    1x Nano Saber<br>
                    10x Ultimate Solar Panel<br>
                    3x Quantum Solar Panel<br>
                    4x Spectral Solar Panel<br>
                    3x Ligh-Absorbing Solar Panel<br>
                    2x Photonic Solar Panel<br>
                    8x Advanced Photovoltaic Cell<br>
                    10x Advanced Circuit<br>
                    12x Iridium Ingot<br>
                    1x ME Controller<br>
                    1x ME Drive<br>
                    1x Espada e Arco de Draconic<br>
                    12x Draconic Core<br>
                    6x Blocos de Manyullyn<br>
                    8x Blocos de Zivicio<br>
                    1x Mystic Branch<br>
                    1x Ovo de Triceratops<br>
                    1x Mammoth Embryo<br>
                </p>

                <p>ITENS DESBLOQUEADOS:</p>
                <p>
                    BRONZE E PRATA + Armadura DRACONIC Completa<br>
                    Photonic Solar Panel<br>
                    Stablized Mobspawner<br>

            </div>
        </div>
    </div>


    <div id="SwModalVIP-4" class="SwModal">
        <div class="SwModal-Container">
            <div class="SwModal-Container-title">
                Vantagens VIP DIAMANTE

                <div class="SwModal-close" modal="SwModalVIP-4">
                    X
                </div>

                <div class="SwLoja_title_Traco"></div>
            </div>

            <div class="SwModal-body">
                Acesso a criar a sua própria loja, escrita colorida e aos comandos /nick /hat /fly /back e /kit Bronze +
                /kit Prata + /kit Ouro + /kit diamante e 3000 blocos de claim</p <p>KIT BRONZE + KIT PRATA + KIT OURO +
                KIT DIAMANTE:<br>

                <p>ITENS DO KIT DIAMANTE:<br>
                    64x Barras de ferro<br>
                    64x Barras de ouro<br>
                    32x Diamantes<br>
                    64x Barras de Manasteel<br>
                    20x Essencias de Zivicio<br>
                    4x Advanced Solar panel<br>
                    32x Charged Certuz Quartz<br>
                    3x Hybrid Solar Panel<br>
                    30x Barras de Uranio<br>
                    1x Ultimate Solar Panel<br>
                </p>
                <p>BRINDE DIAMANTE</p>
                <p>
                    10x Infinity orbs de cada cor<br>
                    1x Mystic Branch<br>
                    1x Angel Ring de Dragão<br>
                    4x Photonic Solar Panel<br>
                    8x Light-Absorbing Solar Panel<br>
                    10x Singular Solar Panel<br>
                    12x Spectral Solar Panel<br>
                    1x Me Drive<br>
                    1x Me Controler<br>
                    4x Awakened Draconic Block<br>
                    1x Chaos Shard<br>
                    24x Eletronic Circuit<br>
                    20x Iridium Ore<br>
                    16x Draconic Core<br>
                    8x Manylium Block<br>
                    10x Zivicio Block<br>
                    1x Full Wyvern<br>
                    1x Espada, Arco e picareta de Draconic<br>
                    1x Draconic Flux Capacitor<br>
                    3x Awakened Core<br>
                </p>

                <p>ITENS DESBLOQUEADOS:</p>
                <p>
                    BRONZE E PRATA + Armadura DRACONIC Completa<br>
                    Photonic Solar Panel<br>
                    Stablized Mobspawner<br>

            </div>
        </div>
    </div>























    <div id="Header-1">
        <div id="Header-2">
            <div id="Logo">
                <a href="/"><img src="/img/logo.png"></a>
            </div>

            <div id="SwHeader_desc">

            </div>
        </div>
    </div>

    <div id="SwBodyUpAnimation">
        <img id="SwBody_lateral_irloja_image" class="lazy" data-src="">

        <img id="SwBody_principal_image" class="lazy" data-src="">
    </div>


    <div id="SwBody_principal">
        <div id="SwBody_container">
            <div class="SwLoja_container_info">
                <div class="SwLoja_title">
                    Informações VIPS

                    <div class="SwLoja_title_Traco"></div>
                </div>

                <div class="SwLoja_body">
                    <p class="SwP_noMargin">Lembre-se, você está fazendo uma <b>COMPRA</b> para o servidor <b>Era dos
                            Piratas</b>, nosso servidor <b>NÃO</b> contem nenhum vínculo com a <b>MOJANG</b>!</p>

                    <p>Quando realizar a <b>COMPRA</b>, nos envie o comprovante para o e-mail
                        <b>colisaodotempo@gmail.com</b> ou para um dos donos no Discord do servidor(atendimento mais
                        rápido).
                    </p>
                </div>
            </div>

            <div class="SwLoja_container">
                <div class="SwLoja_title">
                    VIPS

                    <div class="SwLoja_title_Traco"></div>
                </div>

                <div class="SwLoja_body">
                    <div class="row">
                        <div class="col-4 SwLoja_produto_container">
                            <div class="SwLoja_produto_body">
                                <img class="lazy" data-src="/img/vipbronze.png">

                                <div class="SwLoja_produto_title">VIP SUPERNOVA</div>
                                <div class="SwLoja_produto_price">
                                    <sup>R$</sup>15,00

                                    <span> 1 Mês</span>
                                </div>

                                <div class="SwLoja_produto_vantagens">
                                    <button class="SwModal-open" modal="SwModalVIP-1">VANTAGENS DO VIP</button>
                                </div>

                                <div class="SwLoja_produto_comprar">
                                    Comprar com

                                    <div class="SwLoja_produto_comprar_pagseguro">
                                        <a href="https://pag.ae/7UQtbEpzu/button" target="_blank"><img class="lazy"
                                                data-src="/img/payment/pagseguro.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 SwLoja_produto_container">
                            <div class="SwLoja_produto_body">
                                <img class="lazy" data-src="/img/vipprata.png">

                                <div class="SwLoja_produto_title">VIP CORSÁRIO</div>

                                <div class="SwLoja_produto_price">
                                    <sup>R$</sup>20,00

                                    <span> 1 Mês</span>
                                </div>

                                <div class="SwLoja_produto_vantagens">
                                    <button class="SwModal-open" modal="SwModalVIP-2">VANTAGENS DO VIP</button>
                                </div>

                                <div class="SwLoja_produto_comprar">
                                    Comprar com

                                    <div class="SwLoja_produto_comprar_pagseguro">
                                        <a href="https://pag.ae/7UQtmhjg9/button" target="_blank"><img class="lazy"
                                                data-src="/img/payment/pagseguro.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 SwLoja_produto_container">
                            <div class="SwLoja_produto_body">
                                <img class="lazy" data-src="/img/vipouro.png">

                                <div class="SwLoja_produto_title">VIP YONKOU</div>

                                <div class="SwLoja_produto_price">
                                    <sup>R$</sup>30,00

                                    <span> 1 Mês</span>
                                </div>

                                <div class="SwLoja_produto_vantagens">
                                    <button class="SwModal-open" modal="SwModalVIP-3">VANTAGENS DO VIP</button>
                                </div>

                                <div class="SwLoja_produto_comprar">
                                    Comprar com

                                    <div class="SwLoja_produto_comprar_pagseguro">
                                        <a href="https://pag.ae/7UQto9uKu/button" target="_blank"><img class="lazy"
                                                data-src="/img/payment/pagseguro.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 SwLoja_produto_container">
                            <div class="SwLoja_produto_body">
                                <img class="lazy" data-src="/img/vipdiamante.png">

                                <div class="SwLoja_produto_title">VIP ALMIRANTE</div>

                                <div class="SwLoja_produto_price">
                                    <sup>R$</sup>30,00

                                    <span> 1 Mês</span>
                                </div>

                                <div class="SwLoja_produto_vantagens">
                                    <button class="SwModal-open" modal="SwModalVIP-4">VANTAGENS DO VIP</button>
                                </div>

                                <div class="SwLoja_produto_comprar">
                                    Comprar com

                                    <div class="SwLoja_produto_comprar_pagseguro">
                                        <a href="https://pag.ae/7X58UJgCH/button" target="_blank"><img class="lazy"
                                                data-src="/img/payment/pagseguro.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>

            <div class="SwLoja_container">
                <div class="SwLoja_title">
                    Comprar VIP por PIX.

                    <div class="SwLoja_title_Traco"></div>
                </div>

                <div class="SwLoja_body">
                    Envie o valor do VIP para o PIX felipeleite5w@gmail.com e envie o comprovante para um Dono no
                    Discord.
                </div>
            </div>
        </div>



        <div class="SwBody_lateral_body">
            <iframe width="100%" class="lazy" data-src="https://www.youtube.com/embed/bOEQ9H2xCTg" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>

    <div class="SwBody_lateral_container">
        <iframe class="lazy" data-src="https://discordapp.com/widget?id=270955498298277899&theme=dark" width="100%"
            height="520" allowtransparency="true" frameborder="0"></iframe>
    </div>
    </div>
    </div>

    <div id="Footer">
        Todos os direitos reservados - ColisaoDoTempo ® 2017 - 2022 </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>


</body>


<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

<script type="text/javascript" src="https://skins.snowdev.com.br/js/jquery-3.1.1.js"></script>
<script src="/js/lazyload.min.js"></script>

<script>
    var SwBody_lateral_body_ipserver = false;

    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: 'https://mcstatus.snowdev.com.br/api/query/www.colisaodotempo.com.br',
        }).done(function (response) {
            if (response.Online) {
                $('#SwBody_lateral_title_status_servidor').css('background-color', '#6ab76a');

                document.getElementById("SwBody_lateral_title_status_servidor").innerHTML = 'Online';
            } else {
                $('#SwBody_lateral_title_status_servidor').css('background-color', '#dc3545');

                document.getElementById("SwBody_lateral_title_status_servidor").innerHTML = 'Offline';
            }
        });

        $(".SwModal-open").on('click', function (event) {
            $('#' + $(this).attr('modal')).fadeIn();
        });

        $(".SwModal-close").on('click', function (event) {
            $('#' + $(this).attr('modal')).fadeOut();
        });
    });

    new LazyLoad({
        elements_selector: ".lazy",
        load_delay: 1000,
        threshold: 0,
    });

    document.getElementById("SwBody_lateral_body_ipserver").onclick = function () {
        if (!SwBody_lateral_body_ipserver) {
            SwBody_lateral_body_ipserver = true;

            var tempIP = document.getElementById("SwBody_lateral_body_ipserver").innerHTML.trim();

            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val("www.colisaodotempo.com.br").select();
            document.execCommand("copy");
            $temp.remove();

            document.getElementById("SwBody_lateral_body_ipserver").innerHTML = "IP COPIADO!";

            setTimeout(function () {
                SwBody_lateral_body_ipserver = false;

                document.getElementById("SwBody_lateral_body_ipserver").innerHTML = tempIP;
            }, 1500);
        }
    };


</script>

</html>